*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Helvetica",Sans-serif;
}
body{
  background-color:rgb(188, 143, 143);
  height:100vh;
  width:100vw;
  display:block;
  position:relative;
}
.wrapper{
  background-color:rgb(255, 228, 225);
  width:600px;
  height:600px;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding:1em;
  padding-top:6.5em;
  outline:#202b39 solid 8px;
  outline-offset:-17px;
  overflow:hidden;
}
.section_userform{
  color:#fff;
  width:75%;
  display:block;
  margin: 0 auto;
}
.input_label{
  width:35%;
  text-align: right;
  display:inline-block;
  font-size:1.5em;
  color:rgba(95,158,160);
}
.break{
  display:block;
  width:100%;
  margin:2em 0;
}
.textbox{
  width:50%;
  height:1.8em;
  box-sizing:content-box;
  background-color:rgba(41,56,74,1);
  border-color:rgba(95,158,160);
  color:white;
}
.button{
  display:block;
  margin:none;
  padding:0.5em 2.5em;
  text-transform:uppercase;
  background-color:rgba(41,56,74,1);
 border-color:rgba(95,158,160);
  color:white;
  border-width:4px;
  border-radius:3px;
  border-style:solid;
  transition: all ease-in-out 200ms;
}
.button:hover{
  background-color:rgba(216,241,255,1);
  color:rgba(56,77,102,1);
  border-color:rgba(41,56,74,1);
transform: scale(1.05);
}
.buttonWrapper {
  display: grid;
  justify-content: center;
}

.buttonWrapper{display:grid; justify-content:center;}
.section_info{
  text-align:center;
  margin:1em;
  color:#FFF;
}

.section_info h1{ font-size:5em;}

#line{
  border-color: lightsteelblue;
  width: 80%;
  margin: 0 auto;
  margin-box: 4em;
}
.result{
  width:45%;
  text-align:left;
  display:inline-block;
  font-size:1.5em;
  color:#fff;
}
.result_label{
  width:40%;
  text-align:right;
  display:inline-blocl;
  font-size:1.5em;
  color:rgba(95,158,160);

}
#before{
  opacity: 1;
  display:block;  
}
#after{
  display:none;
  opacity:0;
}
